@font-face {
    font-family: NavNews;
    src: url(../fonts/NewsFontBold.ttf);
}
.nav-news-font li a{
    font-family: NavNews;
    font-size: larger;
}
.sign-border{
    border-radius: 15px;
    border-color: #0e6dcd;
    background-color: white;
    color: #0e6dcd;
}