@font-face {
    font-family: NavNews;
    src: url(../fonts/NewsFontBold.ttf);
}
.nav-news-font li a{
    font-family: NavNews;
    font-size: larger;
}
.sign-in-border{
    border-radius: 15px;
    border-color: #0e6dcd;
    background-color: #f8f8f8;
    color: #0e6dcd;
}
.nav-text-form{
    color: #f8f8f8;
    font-size:calc(16px + 2vw);
}
.submit-login{
    border-radius: 15px;
    border-color: #32d296;
    color: #32d296;
}
.submit-login:hover{
    border-radius: 15px;
    border-color: #0e6dcd;
    color: #0e6dcd;
}
.color-facebook{
    background-color: #3A589B;
}
.color-twitter{
    background-color: #55ACEE;
}
.color-vk{
    background-color: #4D76A1;
}
.color-google{
    background-color: transparent;

    color: black;
}
.soc-net-white{
    color: #f8f8f8;
}
.substyle{
    background-color: #32d296;
    border-radius: 20px;
    border-color: #32d296;
    color: white;
}
.substyle:hover{
    border-radius: 20px;
    border-color: #2daa76;
    color: white;
    background-color: #2daa76;
}