<!DOCTYPE html>
<html>
<head>
    <title>Amph.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'journal/images/Logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'journal/css/uikit.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'journal/css/specific.css' %}">

</head>
<body>
<header>
    <!-- Navigation Bar -->
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav nav-news-font .uk-text-large .uk-text-bold">
                {% block actnav %}
                    Something Wrong
                {% endblock %}
            </ul>
        </div>
        <div class="uk-navbar-right">
            {% if user_auth %}
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-margin-small-right">
                        <div class="uk-navbar-item">
                            <a href="" uk-icon="icon: search"></a>
                        </div>
                        <div class="uk-navbar-item">
                            <a href="" uk-icon="icon: bell"></a>
                        </div>
                        <li>
                            <a href="#"><img class="uk-border-circle" width="50" height="50"
                                             src="{% if user.avatar.url != '' %}
                                                        {{ user.avatar.url }}
                                                    {% else %}
                                                        {% static 'journal/images/default.png' %}
                                                    {% endif %}"></a>
                            <div class="uk-navbar-dropdown uk-margin-remove">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="{% url 'authors' %}{{ user.user.username }}">Profile</a></li>
                                    <li><a href="#">Subscribes</a></li>
                                    <li><a href="{% url 'authors' %}settings/">Settings</a></li>
                                    <li><a href="{% url 'logout' %}">Exit</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            {% else %}
                <ul class="uk-navbar-nav uk-margin-small-right">
                    <div class="uk-navbar-item">
                        <a href="{% url 'login' %}">
                            <button class="uk-button uk-button-primary sign-in-border" uk-toggle="target: #login-modal"
                                    type="button">LOG IN
                            </button>
                        </a>
                    </div>
                    <div class="uk-navbar-item">
                        <button class="uk-button uk-button-primary sign-in-border" uk-toggle="target: #sign-up-modal"
                                type="button">SIGN UP
                        </button>
                    </div>
                </ul>
            {% endif %}
        </div>
    </nav>
    <!-- Modal for register -->
    <div id="sign-up-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <img data-src="{% static 'journal/images/Logo.png' %}"
                 class="uk-modal-title uk-align-center uk-margin-remove-bottom" width="40" height="40" alt="" uk-img>
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <hr class="uk-margin-small-top">
            <div class="uk-margin-remove soc-net-white">
                <button class="uk-button uk-width-1-1 uk-margin-small-bottom color-twitter ">
                    <img data-src="{% static 'journal/images/twitter-logo.png' %}" width="30" height="30" uk-img>
                    Sign In Via Twitter
                </button>
                <button class="uk-button uk-width-1-1 uk-margin-small-bottom color-facebook">
                    <img data-src="{% static 'journal/images/fb-logo.png' %}" width="30" height="30" uk-img>
                    Sign In Via Facebook
                </button>
                <button class="uk-button uk-width-1-1 uk-margin-small-bottom color-vk">
                    <img data-src="{% static 'journal/images/vk-logo.png' %}" width="30" height="30" uk-img>
                    Sign In Via Vk
                </button>
                <button class="uk-button uk-button-default uk-width-1-1 color-google">
                    <img data-src="{% static 'journal/images/ggle-logo.png' %}" width="30" height="30" uk-img>
                    Sign In Via Google
                </button>
            </div>

            <h3 class="uk-text-center uk-margin-small-top">Or Sign In Via Email</h3>
            <hr>
            <form action="{% url 'email_signup' %}" id="sign-in" method="post">
                {% csrf_token %}
                <label class="uk-margin-remove-bottom uk-text-small uk-text-muted">Email address</label>
                <input id="email" class="uk-input uk-margin-small-bottom" type="text" name="email">
                <input id="sign-in-submit"
                       class="uk-button uk-button-default uk-margin-small uk-align-center submit-login" type="submit"
                       value="Sign in via Email">
            </form>
            <hr>
            <div>
                <p class="uk-text-muted uk-margin-remove uk-text-small">To use Amphitheater you must have cookies
                    enabled</p>
                <p class="uk-text-muted uk-margin-remove uk-text-small">We will never post to Twitter, Facebook, or VK
                    without your permission</p>
            </div>
        </div>
    </div>
    <!-- Modal for login -->
    <div id="login-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <img data-src="{% static 'journal/images/Logo.png' %}"
                 class="uk-modal-title uk-align-center uk-margin-remove-bottom"
                 width="40" height="40" alt="" uk-img>
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <hr class="uk-margin-small-top">


            <h3 class="uk-text-center uk-margin-small-top">Log In</h3>
            <form action="{% url 'login' %}" id="auth" method="post">
                {% csrf_token %}
                <label class="uk-margin-remove-bottom uk-text-small uk-text-muted">Login or Email address</label>
                <input class="uk-input uk-margin-small-bottom" type="text" name="username">
                <label class="uk-margin-remove-bottom uk-text-small uk-text-muted">Password</label>
                <input class="uk-input uk-margin-small-bottom" type="password" name="password">
                {% if error %}
                    <p class="ui-state-error-text">Username or Password is incorrect</p>
                {% endif %}
                <input class="uk-button uk-button-default uk-margin-small uk-align-center submit-login" type="submit"
                       value="LOG IN">
            </form>
            <hr>
            <div>
                <p class="uk-text-muted uk-margin-remove uk-text-small">To use Amphitheater you must have cookies
                    enabled</p>
                <p class="uk-text-muted uk-margin-remove uk-text-small">We will never post to Twitter, Facebook, or VK
                    without your permission</p>
            </div>
        </div>
    </div>
    <!-- UNDERHEADER-->
    <div>
        {% block underheader %}
            <div class="uk-background-cover uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle"
                 style="background-image: url({% static 'journal/images/NavBarBackground.jpg' %});">
                <h1 class="uk-h4 nav-text-form">Something Wrong</h1>
            </div>
        {% endblock %}
    </div>
</header>
<!-- CONTENT-->
<div class="uk-padding-large">
    {% block content %}
        Something Wrong
    {% endblock %}
</div>
<footer>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav .uk-text-bold">
                <li><a class="nav-news-font" href="#">Something</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Rights</a></li>
                <li><a href="#">ETC</a></li>
            </ul>
        </div>
    </nav>
</footer>
<script src="{% static 'journal/js/uikit.min.js' %}"></script>
<script src="{% static 'journal/js/uikit-icons.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{% static 'journal/js/cookies.js' %}"></script>
<script src="{% static 'journal/js/main.js' %}"></script>
</body>
</html>