{% extends "base.html" %}
{% load static %}
{% block underheader %}
    <div class="uk-background-cover uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle"
         style="background-image: url({% static 'journal/images/NavBarBackground.jpg' %});">
        <h1 class="uk-h4 nav-text-form">Choose your own category</h1>
    </div>
{% endblock %}
<!-- Category made of Cards-->
    {% block content %}
        <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-margin-small uk-margin-medium uk-text-center"
             uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">Travel</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">Science</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">Culture</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">IT</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">Space</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">Internet</div>
            </div>
        </div>
    {% endblock %}