{% extends "base.html" %}
{% load static %}
{% block actnav %}
    <li><a href="trends">Trends</a></li>
    <li><a href="magazines">Magazines</a></li>
    <div class="uk-navbar-item">
        <img data-src="{% static 'journal/images/Logo.png' %}" width="50" height="50" alt="" uk-img>
    </div>
    <li class="uk-active"><a href="{% url 'categories' %}">Categories</a></li>
    <li><a href="{% url 'authors' %}">Authors</a></li>
{% endblock %}
{% block underheader %}
    <div class="uk-background-cover uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle"
         style="background-image: url({% static 'journal/images/NavBarBackground.jpg' %});">
        <h1 class="uk-h4 nav-text-form">Choose your own category</h1>
    </div>
{% endblock %}
<!-- Category made of Cards-->
{% block content %}
    <div class="uk-text-large uk-text-uppercase uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-grid-margin-small uk-margin-medium uk-text-center"
         uk-grid>
        <div>
            <div class="uk-height-small uk-card uk-card-default uk-card-body uk-card-hover">Travel</div>
        </div>
        <div>
            <div class="uk-height-small uk-card uk-card-default uk-card-body uk-card-hover">Science</div>
        </div>
        <div>
            <div class="uk-height-small uk-card uk-card-default uk-card-body uk-card-hover">Culture</div>
        </div>
        <div>
            <div class="uk-height-small uk-card uk-card-default uk-card-body uk-card-hover">IT</div>
        </div>
        <div>
            <div class="uk-height-small uk-card uk-card-default uk-card-body uk-card-hover">Space</div>
        </div>
        <div>
            <div class="uk-height-small uk-card uk-card-default uk-card-body uk-card-hover">Internet</div>
        </div>
    </div>
{% endblock %}