{% extends "base.html" %}
{% load static %}
{% load custom %}
{% block actnav %}
    <li><a href="trends">Trends</a></li>
    <li><a href="magazines">Magazines</a></li>
    <div class="uk-navbar-item">
        <img data-src="{% static 'journal/images/Logo.png' %}" width="50" height="50" alt="" uk-img>
    </div>
    <li><a href="{% url 'categories' %}">Categories</a></li>
    <li class="uk-active"><a href="{% url 'authors' %}">Authors</a></li>
{% endblock %}
<!-- UNDERHEADER -->
{% block underheader %}
    <div class="uk-box-shadow-medium uk-background-cover uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle"
         style="background-color: #f8f8f8;">
        <form>
            <legend class="uk-legend">Find articles, that you like, choose by:</legend>
            <div class="uk-margin">
                <select class="uk-select">
                    <option>By Views</option>
                    <option>By Newest</option>
                    <option>By Oldest</option>
                </select>
            </div>
        </form>

    </div>
{% endblock %}
<!-- Category made of Cards-->
{% block content %}
    <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-margin-small uk-margin-medium uk-text-center"
         uk-grid>
        {% if articles %}
            {% for article in articles %}
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-card-large">
                    <h2>{{ article.title }}</h2>
                    <h4>{{ article.short_desc }}</h4>
                    <hr class="uk-margin-small-top uk-margin-small-bottom">
                    <a href="
                            {% url 'authors' %}{{ author }}/journal/{{ journal.journal_name|string_trans }}/article/{{ article.title|string_trans }}">
                        <div>SEE MORE</div>
                    </a></div>
            </div>
        {% endfor %}
            {% if user_auth and user.user.username is author.user %}
                <a href="
                        {% url 'authors' %}{{ user.user.username }}/journal/create/create-article/{{ journal.journal_name|string_trans }}"
                   style="text-decoration: none;">
                    <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                        Create new Article
                    </div>
                </a>
            {% endif %}
        {% elif user_auth and user.user.username is author.user %}
            <a href="
                    {% url 'authors' %}{{ user.user.username }}/journal/create/create-article/{{ journal.journal_name|string_trans }}"
               style="text-decoration: none;">
                <div class=" uk-text-large uk-card uk-card-default uk-card-body uk-height-large uk-card-large uk-card-hover ">
                    Create new Article
                </div>
            </a>
            <p class="uk-align-center">There is no Articles yet, but you can create</p>
        {% else %}
            <p class="uk-align-center">There is no Articles yet</p>
        {% endif %}
    </div>
{% endblock %}
